body {
    background-color: black;
    font-family: Microsoft JhengHei;
}

#main {
    border: 2px solid DarkGreen;
    border-radius: 3%;
    position: absolute;
    left: 20%;
    width: 60%;
    height: 75%;
    background-color: DarkGreen;
}

#main .maindiv {
    width: 33%;
    height: 100%;
    float: right;
}

#actions div {
    float: right;
    width: 50%;
    height: 40%;
    text-align: center;
    line-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#actions input {
    border-radius: 50%;
    display: block;
    width: 50%;
    margin: 0 auto;
    flex-shrink: 1;
}

#actions .mainbutton {
    width: 50%;
    margin: 0 auto;
    flex-shrink: 1;
    text-decoration: none;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
#actions .mainbutton:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(49, 34, 2);
    border-radius: 10rem;
    z-index: -2;
}
#actions .mainbutton:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(27, 19, 1);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
#actions .mainbutton:hover {
    color: #fff;
}
#actions .mainbutton:hover:before {
    width: 100%;
}

#overlayBackground {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#crafting,
#looting,
#backPack,
#traveling {
    position: fixed;
    border-radius: 3%;
    display: none;
    width: 50%;
    height: 50%;
    top: 12.5%;
    left: 25%;
    right: 25%;
    bottom: 10%;
    background-color: white;
    z-index: 3;
}

.close {
    position: absolute;
    top: 3%;
    left: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 15%;
    height: 15%;
}

.close img {
    width: 80%;
    height: 80%;
}

.scrollbar {
    margin-left: 10%;
    margin-top: 5%;
    float: left;
    height: 70%;
    width: 30%;
    background: #f5f5f5;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

#crafting .scrollbar div {
    border-style: solid;
    border-color: darkolivegreen;
    margin: auto;
    font-size: large;
    height: 10%;
    text-align: center;
}

.hiddenimg img {
    z-index: 4;
    background-color: transparent;
}

#crafting #show_craft {
    float: left;
    margin-left: 10%;
    margin-top: 10%;
}

#more .clock {
    border-radius: 3%;
    margin: 0px auto;
    height: 15%;
    width: 70%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 300%;
    font-size: 3vw;
}

#more #clock_con {
}

.weather {
    text-align: center;
}
