body {
    background-color: black;
    font-family: Microsoft JhengHei;
}

#main {
    border: 2px solid DarkGreen;
    border-radius: 3%;
    position: absolute;
    left: 20%;
    width: 60%;
    height: 75%;
    background-color: DarkGreen;
}

#main .maindiv {
    width: 33%;
    height: 100%;
    float: right;
}

#actions div {
    float: right;
    width: 50%;
    height: 40%;
    text-align: center;
    line-height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#actions input {
    border-radius: 50%;
    display: block;
    width: 50%;
    margin: 0 auto;
    flex-shrink: 1;
}

.mainbutton {
    width: 60%;
    margin: 0 auto;
    flex-shrink: 1;
    text-decoration: none;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 10rem;
    color: #fff;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.15rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.mainbutton:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(49, 34, 2);
    border-radius: 10rem;
    z-index: -2;
}
.mainbutton:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: rgb(27, 19, 1);
    transition: all 0.3s;
    border-radius: 10rem;
    z-index: -1;
}
.mainbutton:hover {
    color: #fff;
}
.mainbutton:hover:before {
    width: 100%;
}

#overlayBackground {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
}

#overlayBackground2,
#overlayBackground3,
#overlayBackground4,
#overlayBackground5 {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
}

#overlayBackground6 {
    position: fixed;
    display: none;
    color: black;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
}

#crafting,
#looting,
#backPack,
#traveling {
    position: fixed;
    border-radius: 3%;
    display: none;
    width: 50%;
    height: 50%;
    top: 12.5%;
    left: 25%;
    right: 25%;
    bottom: 10%;
    background-color: white;
    z-index: 3;
}

.close {
    position: absolute;
    top: 3%;
    left: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    width: 15%;
    height: 15%;
}

.close img {
    width: 80%;
    height: 80%;
}

.scrollbar {
    margin-left: 10%;
    margin-top: 5%;
    float: left;
    height: 70%;
    width: 30%;
    background: #f5f5f5;
    overflow-y: scroll;
}

.scrollbar::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar {
    width: 12px;
    background-color: #f5f5f5;
}

.scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #555;
}

.scrollbar div {
    border-style: solid;
    border-color: darkolivegreen;
    margin: auto;
    font-size: large;
    height: 10%;
    text-align: center;
}

.hiddenimg img {
    z-index: 4;
    background-color: transparent;
}

#crafting #show_craft,
#show_item {
    float: left;
    margin-left: 10%;
    margin-top: 10%;
}

#more #clock {
    border-radius: 3%/15%;
    margin: 0px auto;
    width: 70%;
    background-color: black;
    color: white;
    text-align: center;
    line-height: 100%;
    font-size: 3vw;
}

#more #clock_con {
    margin-top: 10%;
    height: 10%;
}

.info {
    font-size: 1.5vw;
    text-align: center;
    margin: 5%;
}

#buff_con {
    margin: auto;
    height: 60%;
    width: 40%;
    background-color: darkgreen;
}

#debuffs {
    border-radius: 5%/3%;
    float: left;
    height: 100%;
    width: 45%;
    background-color: burlywood;
}

#buffs {
    border-radius: 5%/3%;
    float: left;
    height: 100%;
    width: 45%;
    background-color: cornflowerblue;
    margin-right: 10%;
}

.buffimg {
    width: 100%;
}

.bufftooltip {
    text-align: center;
    background: black;
}

.bufftooltip span {
    font-size: 150%;
    font-weight: bolder;
}

.area {
    padding: 10px;
    text-align: center;
}

#status p {
    width: 500px;
    padding: 1%;
    margin: auto;
}

.health-box,
.health-box2,
.health-box3,
.health-box4,
.health-box5 {
    background-color: #ccc;
    height: 30px;
    width: 150px;
    margin: 0 auto;
    border: solid 1px #aaa;
}

.health-bar,
.health-bar2,
.health-bar3,
.health-bar4,
.health-bar5 {
    width: inherit;
    height: 100%;
}
.health-bar {
    background-color: red;
}
.health-bar2 {
    background-color: yellow;
}
.health-bar3 {
    background-color: skyblue;
}
.health-bar4 {
    background-color: DarkViolet;
}
.health-bar5 {
    background-color: brown;
}

.message-box {
    text-align: center;
    padding: 5px;
}

.total,
.message-box {
    font-size: 16px;
    margin: 5px;
}

#looting fieldset {
    border: 0;
}
#looting label {
    display: block;
    margin: 30px 0 0 0;
}

.overflow {
    height: 100px;
}

#lootingbutton {
    text-align: center;
    margin: auto;
    height: 20%;
    width: 30%;
}

.travelimg {
    width: 32%;
    height: 50%;
}

#location {
    text-align: center;
    font-size: 150%;
}

#travelcomf {
    text-align: center;
    top: 25%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 3%;
    display: none;
    width: 50%;
    background-color: white;
    border: solid black 2px;
}

#travelcomf .mainbutton {
    z-index: 6;
}

#message {
    font-size: 150%;
    text-align: center;
    top: 30%;
    left: 30%;
    right: 30%;
    position: absolute;
    border-radius: 3%;
    display: none;
    width: 40%;
    background-color: red;
    z-index: 7;
}

#lootresult,
#craftnotice {
    font-size: 150%;
    text-align: center;
    top: 10%;
    left: 20%;
    right: 20%;
    position: absolute;
    border-radius: 3%;
    display: none;
    width: 60%;
    background-color: green;
    z-index: 7;
}

#lootresult .mainbutton {
    width: 20%;
}

#show_craft,
#show_item {
    height: 50%;
    width: 35%;
    text-align: center;
    font-size: 100%;
}

#show_craft .mainbutton {
    position: absolute;
    width: 30%;
    top: 50%;
    left: 50%;
    right: 20%;
}

#craftnotice .mainbutton {
    width: 30%;
}
#fire {
    border-radius: 3%;
    margin-top: 10%;
    margin-left: 15%;
    width: 70%;
    height: 25%;
    text-align: center;
}

#fire img {
    width: 40%;
}

#fire .mainbutton {
    text-align: center;
    width: 30%;
    height: 10%;
}

#buttom {
    font-size: 300%;
    text-decoration: none;
    color: white;
    position: absolute;
    bottom: 2px;
    right: 2px;
}
